<a href="https://colab.research.google.com/github/saikhairnar20023/python-basics/blob/main/pandas_library_write_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/age_height_data.csv')
df

    Age (Months)  Height (CM)
0             18         76.1
1             19         77.0
2             20         78.1
3             21         78.2
4             22         78.8
5             23         79.7
6             24         79.9
7             25         81.1
8             26         81.2
9             27         81.8
10            28         82.8
11            29         83.5

In [7]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.columns

Index(['Age (Months)', 'Height (CM)'], dtype='object')

In [12]:
df = pd.read_csv('/content/age_height_data.csv',nrows=5)
df

   Age (Months)  Height (CM)
0            18         76.1
1            19         77.0
2            20         78.1
3            21         78.2
4            22         78.8

In [15]:
df = pd.read_csv('/content/age_height_data.csv',usecols = [0],nrows = 5)
df

   Age (Months)
0            18
1            19
2            20
3            21
4            22

In [17]:
df = pd.read_csv('/content/age_height_data.csv',skiprows =[2,3])
df

   Age (Months)  Height (CM)
0            18         76.1
1            21         78.2
2            22         78.8
3            23         79.7
4            24         79.9
5            25         81.1
6            26         81.2
7            27         81.8
8            28         82.8
9            29         83.5